body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
#home {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
h1 {
  font-size: 70px;
}
a {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
#designed {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
